export PYTHONPATH=$PWD
# Enviroment
export ENVIRONMENT="production"
export DOCKER_FOLDER="docker"
export DOCKER_COMPOSE_FILE_NAME="production.yml"
# API
export FLASK_ENV="production"
export FLASK_CONFIG="production"
export FLASK_PORT=5000
export FLASK_HOST="127.0.0.1"
export API_V1_PREFIX="/api/v1"
export APPLICATION_API_MIMETYPE="application/json"
export ENCODING_FORMAT="UTF-8"
# DB
export APPLICATION_DB="application"
# PostgresDB
export POSTGRES_DB="postgres" 
export POSTGRES_HOSTNAME="localhost"
export POSTGRES_PORT=5432
export POSTGRES_PASSWORD="postgres"
export POSTGRES_USER="postgres"
# MongoDB
export MONGODB_USER="root"
export MONGODB_HOSTNAME="localhost"
export MONGODB_PORT=27018
export MONGODB_PASSWORD="mongodb"
# Test
export FAKER_DATA_LOCATE="en_US"
export NUMBER_OF_RANDOM_TEST_ROOMS=5
export CLEARANCE_FOR_RANDOM_TEST_ROOMS=1